# Runs typecheck and lint process on feature branches only
name: Checks

on:
    push:
        branches-ignore:
            - main
jobs:
    typecheck:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v4
            - name: setup - python
              uses: actions/setup-python@v4
              with:
                  python-version: 3.12
            - name: Install Global Dependencies
              run: pip install -U pip && pip install uv
            - name: install
              run: make install
            - name: typecheck
              run: make typecheck
            - name: lint
              run: make lint